<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>Go Chat</title>
    <style>
        html,
        body {
            height: 100%;
        }

        .max-100 {
            height: 100%;
            width: 100%;
        }

        .height-100 {
            height: 100%;
        }

        .main_div {
            height: 100%;
            width: 100%;
            border-collapse: collapse;
        }

        .chat-online {
            color: #34ce57
        }

        .chat-offline {
            color: #e4606d
        }

        .chat-messages {
            display: flex;
            flex-direction: column;
            max-height: 800px;
            overflow-y: scroll
        }

        .chat-message-left,
        .chat-message-right {
            display: flex;
            flex-shrink: 0
        }

        .chat-message-left {
            margin-right: auto
        }

        .chat-message-right {
            flex-direction: row-reverse;
            margin-left: auto
        }

        .py-3 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .px-4 {
            padding-right: 1.5rem !important;
            padding-left: 1.5rem !important;
        }

        .flex-grow-0 {
            flex-grow: 0 !important;
        }

        .border-top {
            border-top: 1px solid #dee2e6 !important;
        }
    </style>
    <style>

    </style>
</head>

<body>
    <main class="content " style="height:100%;">
        <div class="container p-0 max-100">
            <div class="card max-100">
                <div class="row g-0 max-100">
                    <div class="col-12 col-lg-5 col-xl-3 border-right height-100">
                        <table class="max-100">
                            <tr style="height: 10%;">
                                <td valign="top" class="text-center">
                                    <h3 class="text-center">Go Chat</h3>
                                    <strong>User Name: <span class="user-name">User1</span></strong><br>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        Edit name
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Edit Name</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" value="name" name="name-edit" id="name-edit"
                                                        class="form-control" placeholder="Input name">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-success"
                                                        id="btn-edit-name">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                </td>
                            </tr>
                            <tr>
                                <td class="position-relative">
                                    <div class="position-absolute top-0 start-0 max-100 ">
                                        <a href="#" class="list-group-item list-group-item-action border-end"
                                            width="40">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1 ml-3">
                                                    Friend 1
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action border-end"
                                            width="40">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1 ml-3">
                                                    Friend 1
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action border-end"
                                            width="40">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1 ml-3">
                                                    Friend 1
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action border-end"
                                            width="40">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1 ml-3">
                                                    Friend 1
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td valign="bottom" class="text-center">
                                    <form action="/logout" method="post">
                                        <button class=" btn btn-danger w-100" type="submit">Logout</button>

                                    </form>
                                </td>
                            </tr>
                        </table>
                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>

                    <!-- message content -->
                    <div class="col-12 col-lg-7 col-xl-9 height-100">
                        <table class="main_div">
                            <!-- head box message -->
                            <tr>
                                <td valign="top">
                                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                                        <div class="d-flex align-items-center py-1">
                                            <div class="flex-grow-1 pl-3">
                                                <strong>Message Content</strong>
                                                <div class="text-muted small"><em>Friend 1</em></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- content box message -->
                            <tr>
                                <td>
                                    <div class="position-relative">
                                        <div class="chat-messages p-4">

                                            <div class="chat-message-right pb-4">
                                                <div>
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                        class="rounded-circle mr-1" alt="Chris Wood" width="40"
                                                        height="40">
                                                    <div class="text-muted small text-nowrap mt-2">2:33 am</div>
                                                </div>
                                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                    <div class="font-weight-bold mb-1">You</div>
                                                    Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te
                                                    vix.
                                                </div>
                                            </div>

                                            <div class="chat-message-left pb-4">
                                                <div>
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                                        class="rounded-circle mr-1" alt="Sharon Lessman" width="40"
                                                        height="40">
                                                    <div class="text-muted small text-nowrap mt-2">2:34 am</div>
                                                </div>
                                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                    <div class="font-weight-bold mb-1">Sharon Lessman</div>
                                                    Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat
                                                    animal commodo.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!-- footer box message -->
                            <tr>
                                <td valign="bottom">
                                    <div>

                                    </div>
                                    <div class="flex-grow-0 py-3 px-4 border-top">
                                        <button class="btn" id="btn-photo"><i class="bi bi-image"></i></button>
                                        <button class="btn" id="btn-video"><i class="bi bi-camera-video"></i></button>
                                        <input type="file" name="photo" id="photo" accept="image/*" hidden>
                                        <input type="file" name="video" id="video" accept="video/*" hidden>
                                        <input type="text" name="id" id="id" value="id-user" hidden>

                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Type your message">
                                            <button class="btn btn-primary"><i class="bi bi-send"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        $("#btn-photo").click(function () {
            $("#photo").click()
        })
        $("#btn-video").click(function () {
            $("#video").click()
        })
        $("#btn-edit-name").click(function () {
            var nameEdit = $("#name-edit").val(), idUser = $("#id").val();
            // Send the data using post
            var posting = $.post("/edit-name", { id: idUser, name: nameEdit });

            // Put the results in a div
            posting.done(function (mes) {
                alert("Success!")
                $(".user-name").text(nameEdit)
            });
            posting.fail(function (mes) {
                alert("Has error: " + mes)
            });

        })
    </script>
</body>

</html>